.form-label {
    margin: 10px;
}

.form-input {
    margin: 10px;
    max-width: 169.6px;
}

.form-div {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #01553d;
    font-size: 14.4px;
}


.form-button {
    padding: 0.5rem;
    border-radius: 5px;
    background: #e1f8ec;
    border: 2px solid #01553d;
    margin: 3px;
}

.form-button:hover {
    background: #01553d;
    color: #fff;
}